@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(pattern-background-desktop.svg);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
